.App {
  text-align: center;
}

input[type="text"] {
  width: 400px;
}

.orgchart ul li .oc-node .oc-heading .oc-symbol::after {
  all: unset;
}
.orgchart ul li .oc-node .oc-heading .oc-symbol::before {
  all: unset;
}

.App .orgchart ul li .oc-node .oc-heading {
  width: 200px;
  height: 60px;
  white-space: unset;
  word-wrap: break-word;
}
.App .orgchart ul li .oc-node .oc-content {
  width: 200px;
  height: 60px;
  white-space: unset;
  word-wrap: break-word;
}

.App .level {
  word-wrap: break-word;
}