.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
input[type="text"] {
  width: 400px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orgchart ul li .oc-node .oc-heading .oc-symbol::after {
  all: unset;
}
.orgchart ul li .oc-node .oc-heading .oc-symbol::before {
  all: unset;
}

.App .orgchart ul li .oc-node .oc-heading {
  width: 200px;
  height: 60px;
  white-space: unset;
  word-wrap: break-word;
}
.App .orgchart ul li .oc-node .oc-content {
  width: 200px;
  height: 60px;
  white-space: unset;
  word-wrap: break-word;
}